# General
.DS_Store
Thumbs.db

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Node
node_modules
npm-debug.log

# Project Specific
.coverage
dist

## Dev Environments
Session.vim
flake.*


# Python
**/__pycache__/**
*.pyc
.venv/
.pytest_cache
.pytype

download-actionlint.bash
actionlint
