name: Approved actions operations

on:
  workflow_dispatch:
    inputs:
      operation:
        description: 'Operation to perform. ex: update, add'
        required: true
        type: string
      action:
        description: 'Single action to add. ex: actions/checkout'
        required: false
        type: string
  schedule:
  - cron: '0 0 1 * *'

jobs:
  actions-operation:
    name: "Approved actions operations"
    runs-on: ubuntu-24.04
    steps:
      - name: Login to Azure - CI Subscription
        uses: Azure/login@e15b166166a8746d1a47596803bd8c1b595455cf # v1.6.0
        with:
          creds: ${{ secrets.AZURE_KV_CI_SERVICE_PRINCIPAL }}

      - name: Retrieve secrets
        id: retrieve-secrets
        uses: bitwarden/gh-actions/get-keyvault-secrets@main
        with:
          keyvault: "bitwarden-ci"
          secrets: "github-gpg-private-key,
            github-gpg-private-key-passphrase"

      - name: Checkout Branch
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Import GPG key
        uses: crazy-max/ghaction-import-gpg@cb9bde2e2525e640591a934b1fd28eef1dcaf5e5 # v6.2.0
        with:
          gpg_private_key: ${{ steps.retrieve-secrets.outputs.github-gpg-private-key }}
          passphrase: ${{ steps.retrieve-secrets.outputs.github-gpg-private-key-passphrase }}
          git_user_signingkey: true
          git_commit_gpgsign: true

      - name: Setup git
        run: |
          git config --local user.email "106330231+bitwarden-devops-bot@users.noreply.github.com"
          git config --local user.name "bitwarden-devops-bot"

      - name: Set up Python 3.11
        uses: actions/setup-python@42375524e23c412d93fb67b49958b491fce71c38 # v5.4.0
        with:
          python-version: "3.11"

      - name: Install bwwl binary
        run: python -m pip install --upgrade bitwarden_workflow_linter

      - name: Create Branch
        if: ${{ github.events_name == 'schedule' }} || ${{ inputs.operation == 'update' }}
        id: create-branch
        run: |
          NAME="update-actions-$(date +'%Y%m%d-%H%M%S')"
          git switch -c $NAME
          echo "name=$NAME" >> $GITHUB_OUTPUT

      - name: Create Branch
        if: ${{ inputs.operation == 'add' }}
        id: create-branch
        env:
          _ACTION: ${{ inputs.action }}
        run: |
          NAME= "add-action-$_ACTION"
          git switch -c $NAME
          echo "name=$NAME" >> $GITHUB_OUTPUT

      - name: Run bwwl update
        if: ${{ github.events_name == 'schedule' }} || ${{ inputs.operation == 'update' }}
        run: bwwl actions update -o src/bitwarden_workflow_linter/default_actions.json

      - name: Run bwwl add
        if: ${{ inputs.operation == 'add' }}
        run: bwwl actions add -o src/bitwarden_workflow_linter/default_actions.json ${{ inputs.action }}

      - name: Check for changes to commit
        id: new-changes
        run: |
          if [ -n "$(git status --porcelain)" ]; then
            echo "new_changes=TRUE" >> $GITHUB_OUTPUT
          else
            echo "new_changes=FALSE" >> $GITHUB_OUTPUT
            echo "No changes to commit!";
          fi

      - name: Commit changes
        if: ${{ steps.new-changes.outputs.new_changes == 'TRUE' }}
        env:
          _PR_BRANCH: ${{ steps.create-branch.outputs.name }}
        run: |
          git commit -m "Update approved actions" -a
          git push origin $_PR_BRANCH

      - name: Generate GH App token
        if: ${{ steps.new-changes.outputs.new_changes == 'TRUE' }}
        uses: actions/create-github-app-token@67e27a7eb7db372a1c61a7f9bdab8699e9ee57f7 # v1.11.3
        id: app-token
        with:
          app-id: ${{ secrets.GH_APP_ID }}
          private-key: ${{ secrets.GH_APP_KEY }}
          owner: ${{ github.repository_owner }}

      - name: Create PR
        if: ${{ steps.new-changes.outputs.new_changes == 'TRUE' }}
        id: create-pr
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token }}
          _PR_BRANCH: ${{ steps.create-branch.outputs.name }}
          _TITLE: "Update/Add bwwl approved actions"
        run: |
          PR_URL=$(gh pr create --title "$_TITLE" \
            --base "main" \
            --head "$_PR_BRANCH" \
            --label "version:patch" \
            --label "automated pr" \
            --body "
              ## Type of change
              - [ ] Bug fix
              - [ ] New feature development
              - [X] Tech debt (refactoring, code cleanup, dependency upgrades, etc)
              - [ ] Build/deploy pipeline (DevOps)
              - [ ] Other

              ## Description
              - This PR updates the approved actions for the Bitwarden Workflow Linter.")
          echo "pr_number=${PR_URL##*/}" >> $GITHUB_OUTPUT
