name: CD

on:
  pull_request:
    types:
      - closed
    branches:
      - 'main'
  workflow_dispatch:


jobs:
  version-type:
    name: Get version type
    if: github.event.pull_request.merged == true
    uses: ./.github/workflows/_version_type.yml

  version-bump:
    name: Version bump
    if: needs.version-type.outputs.version_bump_type != 'skip'
    runs-on: ubuntu-24.04
    needs: version-type
    outputs:
      version: ${{ steps.get-version.outputs.version }}
      commit_hash: ${{ steps.version-commit.outputs.commit_hash }}
    steps:
      - name: Generate GH App token
        uses: actions/create-github-app-token@d72941d797fd3113feb6b93fd0dec494b13a2547 # v1.12.0
        id: app-token
        with:
          app-id: ${{ secrets.BW_GHAPP_ID }}
          private-key: ${{ secrets.BW_GHAPP_KEY }}

      - name: Login to Azure - CI Subscription
        uses: Azure/login@e15b166166a8746d1a47596803bd8c1b595455cf # v1.6.0
        with:
          creds: ${{ secrets.AZURE_KV_CI_SERVICE_PRINCIPAL }}

      - name: Retrieve secrets
        id: retrieve-secrets
        uses: bitwarden/gh-actions/get-keyvault-secrets@main
        with:
          keyvault: "bitwarden-ci"
          secrets: "github-gpg-private-key,
            github-gpg-private-key-passphrase"

      - name: Check out repo
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0
          token: ${{ steps.app-token.outputs.token }}

      - name: Set up Python
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version-file: ".python-version"

      - name: Install hatch
        run: pip install hatch

      - name: Get current version
        run: echo "OLD_VERSION=$(hatch version)" >> $GITHUB_ENV

      - name: Bump version
        run: hatch version ${{ needs.version-type.outputs.version_bump_type }}

      - name: Get bumped version
        id: get-version
        run: |
          VERSION=$(hatch version)
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: Import GPG key
        uses: crazy-max/ghaction-import-gpg@e89d40939c28e39f97cf32126055eeae86ba74ec # v6.3.0
        with:
          gpg_private_key: ${{ steps.retrieve-secrets.outputs.github-gpg-private-key }}
          passphrase: ${{ steps.retrieve-secrets.outputs.github-gpg-private-key-passphrase }}
          git_user_signingkey: true
          git_commit_gpgsign: true

      - name: Setup git
        run: |
          git config --local user.email "106330231+bitwarden-devops-bot@users.noreply.github.com"
          git config --local user.name "bitwarden-devops-bot"

      - name: Commit version bump
        env:
          OLD_VERSION: ${{ env.OLD_VERSION }}
          VERSION: ${{ steps.get-version.outputs.version }}
        run: |
          git commit -am "Bump version from $OLD_VERSION to $VERSION"
          git tag v$VERSION
          git push
          git push --tags
      
      - name: Output version bump commit hash
        id: version-commit
        run: |
          echo "commit_hash=$(git rev-parse HEAD)" >> $GITHUB_OUTPUT

  release:
    name: GitHub release
    runs-on: ubuntu-22.04
    needs: version-bump
    steps:
      - name: Check out repo
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Create GitHub release
        uses: ncipollo/release-action@440c8c1cb0ed28b9f43e4d1d670870f059653174 # v1.16.0
        with:
          commit: ${{ github.sha }}
          tag: v${{ needs.version-bump.outputs.version }}
          name: v${{ needs.version-bump.outputs.version }}
          token: ${{ secrets.GITHUB_TOKEN }}
          draft: false

  deploy:
    name: Deploy workflow-linter (v2)
    runs-on: ubuntu-22.04
    needs: version-bump
    steps:
      - name: Check out repo
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0
          ref: ${{ needs.version-bump.outputs.commit_hash }}

      - name: Set up Python
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version-file: ".python-version"

      - name: Install hatch
        run: pip install hatch

      - name: Login to Azure - CI Subscription
        uses: Azure/login@e15b166166a8746d1a47596803bd8c1b595455cf # v1.6.0
        with:
          creds: ${{ secrets.AZURE_KV_CI_SERVICE_PRINCIPAL }}

      - name: Retrieve pypi api token
        id: retrieve-secret
        uses: bitwarden/gh-actions/get-keyvault-secrets@main
        with:
          keyvault: "bitwarden-ci"
          secrets: "pypi-api-token"

      - name: Build
        run: hatch build

      - name: Publish
        env:
          HATCH_INDEX_USER: __token__
          HATCH_INDEX_AUTH: ${{ steps.retrieve-secret.outputs.pypi-api-token }}
        run: hatch publish
