name: CI

on:
  pull_request:
    paths:
      - "src/**"
      - "tests/**"
  workflow_dispatch:

permissions: read-all

jobs:
  test:
    name: CI workflow-linter (v2)
    runs-on: ubuntu-22.04
    steps:
      - name: Check out repo
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Set up Python
        uses: actions/setup-python@42375524e23c412d93fb67b49958b491fce71c38 # v5.4.0
        with:
          python-version-file: ".python-version"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pipenv
          pipenv install --dev

      - name: Run pytest
        env:
          PYTHONPATH: "${{ github.workspace }}/src"
        run: pipenv run pytest tests --cov=src

      - name: Check type hinting
        run: pipenv run pytype src

      - name: Test against example workflows
        # run notes:
        # - Changing directories will help catch any repo specific paths in the linter
        #   that would not work in a different repository
        # - Changing directories utilizes the default_settings.yaml rather than this repos
        #   settings.yaml, which better simulates running from another repository
        # - Using strict to ensure that our examples pass all checks including warnings
        run: |
          pipenv run pip install -e .
          cd .github/workflows
          pipenv run bwwl lint --strict -f ./examples
