name: Enforce PR labels

on:
  pull_request:
    types: [labeled, unlabeled, opened, reopened, synchronize]
jobs:
  enforce-labels:
    name: Enforce Labels
    uses: bitwarden/gh-actions/.github/workflows/_enforce-labels.yml@main

  enforce-version-label:
    if: "!(contains(github.event.pull_request.labels.*.name, 'version:major') || contains(github.event.pull_request.labels.*.name, 'version:minor') || contains(github.event.pull_request.labels.*.name, 'version:patch') || contains(github.event.pull_request.labels.*.name, 'version:skip'))"
    name: Enforce version label
    runs-on: ubuntu-22.04

    steps:
      - name: Check for label
        run: |
          echo "PR without the version label cannot be merged."
          echo "### :x: PR without the version label cannot be merged" >> $GITHUB_STEP_SUMMARY
          exit 1
